body {background-color: #5F0F40;}

h1 {
  font-family: "Papyrus", Papyrus, fantasy;
  color: white;
  text-align: center;
}

h2 {
  font-family: "Papyrus", Papyrus, fantasy;
  color: white;
  text-align: center;
}

p {
  font-family: "Papyrus", Papyrus, fantasy;
  color: white;
  text-align: center;
}

img {
  float: inherit;
	width: 728px;
	height:  360px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:link, a:visited {
  background-color: #9A031E;
  color: white;
  border: 5px solid black;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #E36414;
}

.grid {
  display: grid;
  grid-gap: 16px;
  padding: 32px;
  background-color: #E36414;

  @media (min-width: 768px){
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 960px){
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px){
    grid-template-columns: repeat(4, 1fr);
  }

  }
}

.flexbox-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flexbox-item {
  width: 200px;
  margin: 16px;
  border: 3px solid black;
}

.flexbox-item-1 {
  min-height: 100px;
}

.flexbox-item-2 {
  min-height: 200px;
  flex-grow: 2;
}

.flexbox-item-3 {
  min-height: 300px;
}
