body {background-color: #5F0F40;}

h1 {
  font-family: "Papyrus", Papyrus, fantasy;
  color: white;
  text-align: center;
  margin-left: 20px;
}

p {
  font-family: "Papyrus", Papyrus, fantasy;
  color: white;
  text-align: center;
}

img {
  float: inherit;
}

a:link, a:visited {
  background-color: #9A031E;
  color: white;
  border: 5px solid black;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #E36414;
}
